<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post your ad- Oltrust</title>
    <link rel="stylesheet" href="../stylesheets/new.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class = "jumbotron">
            <h1>Post your own Ad!</h1>
            <p>just follow the instructions and it's done</p>
        </div>
        <form action="/laptops" method="POST">
            <div class = inputs>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Laptop model</span>
                    <input name="model" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="ex- Lenovo thinkpad T450">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">processor</span>
                    <input name="processor"type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="ex- i5">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">RAM memory</span>
                    <input name="ram" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="ex- 16gb">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">processor generation</span>
                    <input name = "generation" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="ex- 5th gen">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Storage with type</span>
                    <input name = "storage" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="ex- 500 gb HDD">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
                    <input name = "price" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="ex- 21,999">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Upload images</span>
                    <input type="file" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>

                <div class = "submit">
                    <button type = "submit" class= "btn btn-primary">Submit</button>
                </div>
                
                <div class = "tnc">
                    <p>Before posting your ad You MUST read our <a href="/tnc"><span id = "tnc">Terms & Conditions</span></a></p>
                </div>
            </div>
        </form>
    </div>    
</body>
</html>