<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oltrust Register</title>
    <link rel="stylesheet" href="../stylesheets/register.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class= "border">
            <div class = logo>
                <img src="assets/logo.png" alt="Oltrust logo">
            </div>
            <div class = "google_signin center">
                <img src="assets/google.png" alt="sign in with google">
            </div>
            <div class = "credentials">
                <input id ="username" type="text" placeholder="Create a username">
                <input id ="password" type="password" placeholder="Create a password">
                <input id ="password" type="password" placeholder="Confirm your password">
            </div>
            <div class = "submit">
                <button class = "btn oltheme">Create a new account</button>
            </div>
            <div class = "new">
                <p>Already have an account       <a href = "/login" class = "orange">Login Now!</a></p>
            </div>
            <div class = "new">
                <p>Happy Shopping!</p>
            </div>
        </div>
    </div>
</body>
</html>