<h1>Haaan bsdk bete mouj krdiiii......isse pehle sunnnn 2 % commisiion apna rhega to usss hisab se post krna </h1>
<h2>orrr hannnn.....paise apne account m aaange</h2>
<a href="/post"><button>go ahead!</button></a>