* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.border {
  margin: 0 auto;
  margin-top: 5%;
  width: 70%;
  height: 90vh;
  border: 2px solid #696969;
  position: relative;
}

.logo > img {
  width: 90%;
  margin-left: 22px;
  margin-top: 10px;
}

.google_signin {
  position: relative;
}

.google_signin > img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.credentials {
  margin-top: 40px;
}
.credentials > input {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  box-shadow: 2px 2px 4px #696969;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.submit {
  height: 100px;
  position: relative;
}
.oltheme {
  background-color: #f95700ff;
  color: white;
  width: 81%;
  box-shadow: 2px 2px 4px #f95700ff;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.new {
  padding: 5%;
}
.new > p {
  text-align: center;
}
.orange {
  color: #f95700ff;
}
